[project]
name = "dao"
version = "0.1.0"
description = "A Convience Data Access Object"
authors = [
    { name = "Sandeep Evani", email = "sandeepevani01@gmail.com" }
]
requires-python = ">=3.11"
dependencies = []

[build-system]
requires = ["uv_build>=0.9.0,<0.10.0"]
build-backend = "uv_build"

[tool.black]
line-length = 120

[tool.isort]
profile = "black"