[project]
name = "dao"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [
    { name = "Sandeep Evani", email = "evani.sandeep@ganitinc.com" }
]
requires-python = ">=3.11"
dependencies = []

[build-system]
requires = ["uv_build>=0.9.0,<0.10.0"]
build-backend = "uv_build"
